.product-detail-card-header{
    padding-inline: 10px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    flex-direction: column !important;
}

.product-detail-price{
    text-align: left;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}


.bulk-offer-wrapper{
    border-radius: 8px;
    background-color: #f5f5f5;
}

.fs-7-note {
    font-size: 12px;
    color: green;
    letter-spacing: 2px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.bulk-offer-wrapper h6{
    padding: 0 10px;
    margin-top: 0;
    color: #222;
    font-weight: 500;
}

.bulk-offer-wrapper hr{
    background: #bebebe;
}

.bulk-offer-wrapper ul{
    list-style: none;
    padding-inline-start:0;
    padding-left: 10px;
    padding-right: 10px;
}

.bulk-offer-text{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: #222;
    font-size: 20px;
}

.bulk-offer-text span{
    font-size: 14px;
    margin: 0;
    flex: 1;
}

.bulk-offer-text-active{
    color: rgb(255, 77, 77);
}

.border-bottom-0{
    border-bottom: 0 !important;
}