.card-loading{
    width: 100%;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background-image: linear-gradient(
      90deg,
      #e4e4e4 0%,
      #f1f1f1 40%,
      #ededed 60%,
      #e4e4e4 100%
    );
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: animatedBackground 5s linear infinite;
}

.loading-card{
    margin-inline:0px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 4px;
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 1000px 0;
    }
}