.mt-0{
    margin-top: 0 !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.order-detail-padding{
    width: 100%;
    padding: 0 10px;
}

.order-detail-id{
    color: #222;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.order-detail-personal-info{
    color: #222 !important;
    font-size: 15px !important;
    margin: 0 !important;
}

.order-detail-billing-icon {
    margin-inline-end: 12px;
    color: #222;
    font-weight: 500;
    font-size: 20px;
}

.order-detail-price-text {
    color: #222;
    margin: 0;
    font-size: 0.8rem;
    font-family: 'PTSans', system-ui;
    font-weight: 400;
    letter-spacing: 1px;
}

.order-detail-price-text b {
    color: #222;
    margin: 0;
    font-size: 0.8rem;
    font-family: 'PTSans', system-ui;
    letter-spacing: 1px;
}

.order-item-detail-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    /* gap: 10px; */
}

.order-item-img{
    width: 70px;
    height: auto;
}

.order-item-text{
    flex: 1;
    width: auto;
    color: #222 !important;
}
.order-item-text p{
    color: #222 !important;
}

.order-item-name{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-detail-page-main-bulk-factor .cart-total-price-heading.cart-total-price-heading-2 {
    color: #fff;
    background-color: #222;
}

.product-detail-page-main-bulk-factor .cart-total-price-heading.cart-total-price-heading-2 h6 {
    color: #ffffff;
    font-size: 1rem;
}

.order-detail-help-button{
    font-size: 1rem;
}

.order-detail-help-button span{
    margin-right: 5px;
}