.row-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
.row-header h3{
    margin: 0;
    font-family: system-ui;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.row-header a{
    background-color: transparent;
    outline: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    width: auto;
    gap: 2px;
}
.row-header a span{
    font-size: 0.9rem;
}