.billing-info-modal{
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.billing-info-modal .billing-info-section-card, .billing-info-modal .billing-info-section-card-active{
    flex: 0 0 auto;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.billing-info-modal .billing-info-modal-header-row{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 5px;
}

.billing-info-modal .billing-info-modal-header-row .billing-info-col-auto{
    flex: 1;
}
.billing-info-modal .billing-info-modal-header-row .billing-info-modal-add-btn{
    background-color: #222;
    padding: 7px 12px;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 2px;
}