.billing-address-location-icon{
    margin-inline-end: 12px;
    color: #222;
    font-weight: 500;
    font-size: 29px;
}

.billing-address-text h6{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #222;
}

.billing-address-text p{
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #3b3b3b;
}

.billing-address-btn{
    --border-radius: 4px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 25px;
}

.address-divider{
    bottom: -1px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #e0e0e0;
    --background:#e0e0e0;
    --color: #222;
    --padding-start: 0 !important;
    --inner-padding-end: 0 !important;
    --padding-top: 0 !important;
    justify-content: space-between !important;
    border-top: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
    border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
}

.add-address-btn{
    min-height: 3.1em; 
}

.full-page-modal{
    --height: 100%;
}